


 {% extends "base.html" %}

  {% load tailwind_filters %}

{% block content %}

 

 


<div class="container">
	<div class="navigation">
		<ul>
			<li>
				<a href="#" >
					<span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
					<span class="title">Kevoh Organisation</span>

				</a>
			</li>
			<li>
				<a href="{% url 'land-page' %}" >
					<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
					<span class="title">Dashboard</span>

				</a>
			</li>
			
			<li>
				<a href="{% url 'leads:lead-list' %}" >
					<span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
					<span class="title">Leads</span>

				</a>
			</li>
			<li>
				<a href="{% url 'agents:agent-list' %}" >
					<span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
					<span class="title">Agents</span>

				</a>
			</li>
			<li>
				<a href="{%url 'leaves' %}" >
					<span class="icon"><ion-icon name="git-pull-request-outline"></ion-icon></ion-icon></span>
					<span class="title">Leaves requests</span>

				</a>
			</li>
			<li>
				<a href="{% url 'hrms:employee-all' %}" >
					<span class="icon"><ion-icon name="person-outline"></ion-icon></ion-icon></span>
					<span class="title">Human Resource</span>

				</a>
			</li>
			<li>
				<a href="{% url 'announcements:announcementall' %}" >
					<span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-icon></span>
					<span class="title">Announcements</span>

				</a>
			</li>
			<li>
				<a href="{% url 'hrms:recruitment' %}" >
					<span class="icon"><ion-icon name="bag-add-outline"></ion-icon></ion-icon></ion-icon></span>
					<span class="title">Recruitment</span>

				</a>
			</li>
			<li>
				<a href="{%url 'logout' %}" >
					<span class="icon"><ion-icon name="exit-outline"></ion-icon></ion-icon></span>
					<span class="title">Log out</span>

				</a>
			</li>
		</ul>
	</div>

</div>

<!--main-->
<div class="main">
	<div class="topbar">
		<div class="toggle">
			<ion-icon name="menu-outline"></ion-icon>
		</div>
		<div class="search">
			<label>
				<input type="text" placeholder="search here">
				<ion-icon name="search-outline"></ion-icon> 
			</label>
		</div>
		<div class="user">
			<h3>Logged in as:{{request.user.username}}</h3>
		</div>
	</div>
	<section class="text-gray-600 body-font">
		<div class="container px-4 py-26 mx-auto max-w-7xl max-h-10">
		  <div class="flex flex-col text-center h-full w-full mt-10 mb-20">
			<h3 class="sm:text-2xl text-2xl font-medium title-font mb-2 text-gray-900">Pending leaves </h3>
			{% if  messages %}
										{% for message in messages %}
										 <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
											 {{ message }}
											 <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
											 </button>
										 </div>
										{% endfor %}
								{% endif %}
	
		  </div>
		  <div class="max-w-h-lg mx-auto">
			
	 <table class="table-auto w-full text-left whitespace-no-wrap">
		<thead>
		  <tr>
			<th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">User</th>
			<th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Type</th>
			<th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Day(s)</th>
			<th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Status</th>
			<th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Actions</th>
		  </tr>
		</thead>
		<tbody>
			{% for leave in leave_list %}
									
				  <tr>
							<td class="px-4 py-3">{{ leave.user }}</td>
							<td class="px-4 py-3">{{ leave.leavetype}}</td>	
							<td class="px-4 py-3">{{ leave.leave_days }}</td>		
							<td>
								<a href="{% url 'leave:userleaveview' leave.id %}" class="inline-flex text-white bg-yellow-500 hover:bg-yellow-600 px-3 py-3 rounded-md">{{ leave.status }}</a>
							</td>	
								
							<td>	
								<a href="{% url 'leave:userleaveview' leave.id %}"class="px-4 py-3 text-lg text-red-500 hover:text-red-600">View</a>
								
							 </td>											
				  </tr>
				  {% endfor %}
		</tbody>
	  </table>
		  </div>
		  
		</div>
	  </section>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
//menu toggle
let toggle = document.querySelector('.toggle');
let navigation = document.querySelector('.navigation');
let main =document.querySelector('.main');


toggle.onclick = function(){
	navigation.classList.toggle('active');
	main.classList.toggle('active');
	
}
</script>

{% endblock content %}


  
 