
{% extends "base.html" %}
{% load tailwind_filters %}
  {% load static %}
        {% block content %}
        
        <div class="container">
          <div class="navigation">
            <ul>
              <li>
                <a href="#" >
                  <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                  <span class="title">Kevoh Organisation</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'land-page' %}" >
                  <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                  <span class="title">Dashboard</span>
        
                </a>
              </li>
              
              <li>
                <a href="{% url 'leads:lead-list' %}" >
                  <span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
                  <span class="title">Leads</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'agents:agent-list' %}" >
                  <span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
                  <span class="title">Agents</span>
        
                </a>
              </li>
              <li>
                <a href="{%url 'leaves' %}" >
                  <span class="icon"><ion-icon name="git-pull-request-outline"></ion-icon></ion-icon></span>
                  <span class="title">Leaves requests</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'hrms:dashboard' %}" >
                  <span class="icon"><ion-icon name="person-outline"></ion-icon></ion-icon></span>
                  <span class="title">Human Resource</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'announcements:announcementall' %}" >
                  <span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-icon></span>
                  <span class="title">Announcements</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'hrms:recruitment' %}" >
                  <span class="icon"><ion-icon name="bag-add-outline"></ion-icon></ion-icon></ion-icon></span>
                  <span class="title">Recruitment</span>
        
                </a>
              </li>
              <li>
                <a href="{%url 'logout' %}" >
                  <span class="icon"><ion-icon name="exit-outline"></ion-icon></ion-icon></span>
                  <span class="title">Log out</span>
        
                </a>
              </li>
            </ul>
          </div>
        
        </div>
        
        <!--main-->
        <div class="main">
          <div class="topbar">
            <div class="toggle">
              <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="search">
              <label>
                <input type="text" placeholder="search here">
                <ion-icon name="search-outline"></ion-icon> 
              </label>
            </div>
            <div class="user">
              <h3>Logged in as:{{request.user.username}}</h3>
            </div>
          </div>
		  <div class= "max-w-lg mx-auto">
			
			<div class="py-5 border-t border-gray-500">
				<h1 class="text-4xl text-gray-800">Create a new Department</h1>
			</div>
			
			<form method="post"class="mt-5">
				{% csrf_token %}
				{{form|crispy}}
				<button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-3 rounded-md">Submit</button>
			</form>
			
		</div>

		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />

<script>
  //menu toggle
  let toggle = document.querySelector('.toggle');
  let navigation = document.querySelector('.navigation');
  let main =document.querySelector('.main');


  toggle.onclick = function(){
      navigation.classList.toggle('active');
      main.classList.toggle('active');
      
  }
</script>
 <!-- Custom scripts -->
 <script type="text/javascript">
    const checkbox = document.getElementById("flexCheckIndeterminate");
    checkbox.indeterminate = true;
  </script>
  
{% endblock content %}
