{% extends "base.html" %}
{% load tailwind_filters %}
  {% load static %}
        {% block content %}
        
        <div class="container">
          <div class="navigation">
            <ul>
              <li>
                <a href="#" >
                  <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                  <span class="title">Kevoh Organisation</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'land-page' %}" >
                  <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                  <span class="title">Dashboard</span>
        
                </a>
              </li>
              
              <li>
                <a href="{% url 'leads:lead-list' %}" >
                  <span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
                  <span class="title">Leads</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'agents:agent-list' %}" >
                  <span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
                  <span class="title">Agents</span>
        
                </a>
              </li>
              <li>
                <a href="{%url 'leaves' %}" >
                  <span class="icon"><ion-icon name="git-pull-request-outline"></ion-icon></ion-icon></span>
                  <span class="title">Leaves requests</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'hrms:dashboard' %}" >
                  <span class="icon"><ion-icon name="person-outline"></ion-icon></ion-icon></span>
                  <span class="title">Human Resource</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'announcements:announcementall' %}" >
                  <span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-icon></span>
                  <span class="title">Announcements</span>
        
                </a>
              </li>
              <li>
                <a href="{% url 'hrms:recruitment' %}" >
                  <span class="icon"><ion-icon name="bag-add-outline"></ion-icon></ion-icon></ion-icon></span>
                  <span class="title">Recruitment</span>
        
                </a>
              </li>
              <li>
                <a href="{%url 'logout' %}" >
                  <span class="icon"><ion-icon name="exit-outline"></ion-icon></ion-icon></span>
                  <span class="title">Log out</span>
        
                </a>
              </li>
            </ul>
          </div>
        
        </div>
        
        <!--main-->
        <div class="main">
          <div class="topbar">
            <div class="toggle">
              <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="search">
              <label>
                <input type="text" placeholder="search here">
                <ion-icon name="search-outline"></ion-icon> 
              </label>
            </div>
            <div class="user">
              <h3>Logged in as:{{request.user.username}}</h3>
            </div>
          </div>
          <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">{{dept.name | capfirst}} Department
                <br class="hidden sm:block"><a href = "{% url 'hrms:dept_update' dept.pk %}" class="mr-5 hover:text-gray-900">Update Info</a>
              </h1>
              
              <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
                <div class="p-4 md:w-1/3 flex">
                  <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4 flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                      <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>
                  </div>
                  <div class="flex-grow pl-6">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Brief History</h2>
                    <p class="leading-relaxed text-base">{{dept.history}}</p>
                    <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    </a>
                  </div>
                </div>
        
                <section class="text-gray-600 body-font">
                    <div class="container px-5 py-24 mx-auto">
                      <div class="flex flex-col text-center w-full mb-20">
                        
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Employees in this Department</p>
                      </div>
                      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                        <table class="table-auto w-full text-left whitespace-no-wrap">
                          <thead>
                            <tr>
                              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">First name</th>
                              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Last name</th>
                              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">ID</th>
                              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">View profile</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if employees %}
                             {% for employee in employees  %}
                            
                            <tr>
                              <td class="px-4 py-3">{{employee.last_name|capfirst}}</td>
                              <td class="px-4 py-3">{{employee.first_name}}</td>
                              <td class="px-4 py-3">>({{employee.emp_id|capfirst}}</td>
                              <td class="px-4 py-3"><a href="{% url 'hrms:employee_view' pk=employee.pk %}">View profile</a></td>
                            </tr>
                            {% endfor %}
        
                            {% else %}
                                                            <p class="lead text-center"> No Associated Employee</p>
                                                        {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section>
                
              </div>
            </div>
          </section>
        
  </div>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />

<script>
  //menu toggle
  let toggle = document.querySelector('.toggle');
  let navigation = document.querySelector('.navigation');
  let main =document.querySelector('.main');


  toggle.onclick = function(){
      navigation.classList.toggle('active');
      main.classList.toggle('active');
      
  }
</script>
{% endblock content %}
